html, body{
  height:100%;
}
h1{font-size: 24px;font-weight: normal;}
.btn-primary{
  display: block;
  margin-top: 10px;
}

#cy {
  border: solid 1px #CCC;
  height: 100%;
  min-height: 600px;
  width: 100%;
}
#kv_pair_template,
#edit_node_container{
  display: none;
}


#create_edge_container input,
.kv_pair input,
nav input{
  display: inline-block;
}
#create_edge_container input{
  width:30%;
}


.navbar .current_graph_name{
  display: inline-block;
  font-size: 32px;
  margin-left:15px;

}
.navbar .create_graph_container{
  float:right;
  width:400px;
}
.navbar .create_graph_container input{
  display: inline-block;
  float:left;
  width:300px;
}
.navbar .btn-group,
.navbar .create_graph_container input,
.navbar .create_graph_container a.btn{
  margin:20px 0;
}